<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../img/lipsum-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
    <script src="./script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Menu - Restaurant Lorem 2.0</title>
</head>

<body>
    <header>
        <div class="navbar">
            <img src="../../img/lipsum-contact.png" alt="lipsum-logo1">
            <nav>
                <ul>
                    <li>
                        <a class="home-link" href="#">Home</a>
                    </li>
                    <li>
                        <a class="about-link" href="#">About us</a>
                    </li>
                    <li>
                        <a class="menu-link" href="#">Menu</a>
                    </li>
                    <li>
                        <a class="team-link" href="#">Team</a>
                    </li>
                    <li>
                        <a class="gallery-link" href="#">Gallery</a>
                    </li>
                    <li>
                        <a class="blog-link" href="#">Blog</a>
                    </li>
                    <li>
                        <a class="reservation-link" href="#">Reservation</a>
                    </li>
                    <li>
                        <a class="contact-link" href="#">Contact us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h2>Our Menu</h2>
        <p class="main-paragraph">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form, by injected humour, or randomised words which don't look even slightly believable.
        </p>
        <div class="tab-menu">
            <div class="slider-nav">
                <ul>
                    <li class="starters">
                        <h3>Starters</h3>
                    </li>
                    <li class="main-dishes">
                        <h3>Main Dishes</h3>
                    </li>
                    <li class="deserts">
                        <h3>Deserts</h3>
                    </li>
                    <li class="drinks">
                        <h3>Drinks</h3>
                    </li>
                </ul>
            </div>
            <div class="slider-single">
                <div class="first-row">
                    <div class="garlic-bread">
                        <img src="../../img/menu/garlic-bread.jpg" alt="garlic-bread">
                        <div>
                            <h3>Garlic Bread</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                            </p>
                        </div>
                        <span>$8.5</span>
                    </div>
                    <div class="mixed-salad">
                        <img src="../../img/menu/mixed-salad.jpg" alt="mixed-salad">
                        <div>
                            <h3>Mixed Salad</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                            </p>
                        </div>
                        <span>$25</span>
                    </div>
                </div>

                <div class="second-row">
                    <div class="chicken-wings">
                        <img src="../../img/menu/chicken-wings.jpg" alt="chicken-wings">
                        <div>
                            <h3>BBQ Chicken Wings</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                            </p>
                        </div>
                        <span>$10</span>
                    </div>
                    <div class="tika-masala">
                        <img src="../../img/menu/tika-masala.jpg" alt="tika-masala">
                        <div>
                            <h3>Chicken Tika Masala</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                            </p>
                        </div>
                        <span>$15</span>
                    </div>
                </div>

            </div>
        </div>
    </main>
</body>

</html>